@model Contingent.Controllers.DTO.Out.OrderSearchDTO;
@{
    ViewData["Title"] = "Движение студентов";
}
<div class="page-layout-container">
    <div order_id="@Model.OrderId" group_behavior="@Model.OrderInputPolicy" order_type="@Model.OrderEnumTypeName"
        id="current_order"></div>
    @{
        string fullName = "Проведение по приказу: " + Model.OrderOrgId + " от " + Model.OrderSpecifiedDate;
    }
    <div class="d-flex flex-row">
        <h3 class="group-title">
            @fullName
        </h3>
        <div class="flex-fill">

        </div>
        @if (!Model.IsClosed)
        {
            <button type="button" class="standard-button-prim" id="close_order">
                Закрыть приказ
            </button>
        }
    </div>


    <div class="item-input-group">
        <div class="data-row">
            <h5 class="field-h-title">
                Название приказа:
            </h5>
            <p class="field-content">
                @Model.OrderFullName
            </p>
            <h5 class="field-h-title">
                Тип приказа:
            </h5>
            <p class="field-content">
                @Model.OrderRussianTypeName
            </p>
        </div>
    </div>
    <div class="d-flex flex-row mt-2">
        <h3 class="group-title">
            Распределение студентов:
        </h3>
        <div class="flex-fill">

        </div>
        <button type="button" id="save_changes" class="standard-button-prim">
            Сохранить изменения
        </button>
    </div>

    <div class="d-flex flex-wrap">
        <div class="d-flex flex-column flex-fill">
            <h5>
                ФИО студента
            </h5>
            <input class="standard-input" id="fullname_filter" />
        </div>
        <div class="d-flex flex-column">
            <h5>
                Название группы
            </h5>
            <div class="d-flex flex-row">
                <input class="standard-input" id="group_filter" />
                <button class="standard-button-sec" id="find_students">
                    Поиск
                </button>
            </div>
        </div>
    </div>

    <div class="flex-fill flex-row">
        <small class="error-box" id="OrderGenericError_err">

        </small>
    </div>

    <div class="d-flex flex-fill flex-row">
        <div class="col-6 d-flex flex-column">
            <table class="table">
                <thead>
                    <tr class="d-flex">
                        <th colspan="3">Доступная выборка</th>
                    </tr>
                    <tr>
                        <th>Фио</th>
                        <th>Группа</th>
                        <th>Добавить</th>
                    </tr>
                </thead>
                <tbody id="students_not_in_order">

                </tbody>
            </table>
            <div class="flex-fill">

            </div>
        </div>
        <div class="col-6 d-flex flex-column">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3">Студенты в приказе</th>
                    </tr>
                    <tr>
                        <th>Фио</th>
                        <th id="input_title">Группа</th>
                        <th>Исключить</th>
                    </tr>
                </thead>
                <tbody id="students_in_order">

                </tbody>
            </table>
            <div class="flex-fill">

            </div>
        </div>
    </div>
</div>


<script src="~/js/processing/studentflow.js" type="module"></script>
