@using StudentTracking.Models.Domain;
@using StudentTracking.Models.Domain.Misc;
@using StudentTracking.Models.Domain.Orders.OrderData;
@using Utilities;
@model StudentTracking.Models.Domain.Orders.Order;

@{
    ViewData["Title"] = "Приказ";
    IEnumerable<OrderTypeInfo> types = OrderTypeInfo.GetAllTypes(); 
}



<div class="container">
    <div class="d-flex flex-row">
        <h5 class="col-1 mx-0">Идентификатор приказа</h5>
    </div>

    <div class="d-flex flex-row">
        <h5 id="OrderOrgId" class="col-1">
            @Model.OrderOrgId
        </h5>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-9 mx-0">Название приказа</h5>
    </div>

    <div class="d-flex flex-row">
        <input id="OrderDisplayedName" class="col-9" value="@Model.OrderDisplayedName" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small class="accent_color" id="OrderDisplayedName_err">

            </small>
        </div>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-9 mx-0">Описание приказа</h5>
    </div>

    <div class="d-flex flex-row">
        <input id="OrderDescription" class="col-9" value="@Model.OrderDescription" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small class="accent_color" id="OrderDescription_err">

            </small>
        </div>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Дата приказа</h5>
        <div class="col-1 mx-0"></div>
        <h5 class="col-2 mx-0">Дата вступления в силу</h5>
    </div>
    <div class="d-flex flex-row">
        <input id="SpecifiedDate" class="col-5 identity_dependency" value="@Utils.FormatDateTime(Model.SpecifiedDate)"/>
        <div class="col-1 mx-0"></div>
        <input id="EffectiveDate" class="col-5" value="@Utils.FormatDateTime(Model.EffectiveDate)"/>
        
    </div>
    <div class="d-flex flex-row">
        <div class="col-5">
            <small class="accent_color" id="SpecifiedDate_err">

            </small>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="col-5">
            <small class="accent_color" id="EffectiveDate_err">

            </small>
        </div>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Тип приказа</h5>
    </div>
    <div class="d-flex flex-row">
      <select id = "OrderType" class="col-6 identity_dependency">
        @foreach(var i in types){
            int asInt = (int)i.Type;  
            if (asInt == (int)Model.GetOrderTypeDetails().Type){
                <option value="@asInt" selected> @i.OrderTypeName </option>
            }
            else{
                <option value="@asInt">@i.OrderTypeName</option>
            }
        }
        </select>
    </div>
    <input type="hidden" id="OrderId" value="@Model.Id"/>
    <button id="save">
        Сохранить
    </button>
</div>

<script src="~/js/site.js"></script>
<script src="~/js/orders.js"></script>
