@using StudentTracking.Models.Domain;
@using StudentTracking.Models.Domain.Misc;
@model StudentTracking.Models.Domain.StudentModel
@{
    ViewData["Title"] = "Студент";
}
<div class="container">
    <div class="row">
        <label for="GradeBookNumber" class="col-2">Номер зачетки</label>
        <input id="GradeBookNumber" class="col-2" value="@Model.GradeBookNumber"/>
        <div id = "GradeBookNumber_err"></div>
    </div>
    <div class="row">
        <label for="Snils" class="col-2">Снилс</label>
        <input id="Snils" class="col-2" value="@Model.Snils"/>
        <div id = "Snils_err"></div>
    </div>
    <div div class="row" >
        <label for="Inn" class="col-2">Инн</label>
        <input id="Inn" class="col-2" value="@Model.Inn"/>
        <div id = "Inn_err"></div>
    </div>
    
    <div>
        <label for="DateOfBirth" class="col-2">Дата Рождения</label>
        <input id="DateOfBirth" class="col-2" value="@Model.DateOfBirth"/>
        <div id = "DateOfBirth_err"></div>
    </div>
    
    <div class="row">
        <label for="Gender" class="col-2">Пол</label>
        <select id="Gender" class="col-2" hint = "@Model.Gender" >
                @foreach(var g in StudentTracking.Models.Domain.Misc.Genders.Names){
                    var code = (int)g.Key;
                    <option value="@code">@g.Value</option>
                }
        </select>
    </div>

    <div class="row">
        <label for="TargetAgreementType" class="col-2">Договор о целевом обучении</label>
        <select id="TargetAgreementType" class="col-2" hint = "@Model.TargetAgreementType" >
                @foreach(var g in StudentTracking.Models.Domain.Misc.TargetEduAgreement.Names){
                    var code = (int)g.Key;
                    <option value="@code">@g.Value</option>
                }
        </select>
    </div>
    <div class="row">
        <label for="PaidAgreementType" class="col-2">Договор об обучении на платной основе</label>
        <select id="PaidAgreementType" class="col-2" hint = "@Model.PaidAgreementType" >
                @foreach(var g in StudentTracking.Models.Domain.Misc.PaidEduAgreement.Names){
                    var code = (int)g.Key;
                    <option value="@code">@g.Value</option>
                }
        </select>
    </div>
    <div>
        <label for="AdmissionScore">Вступительный балл</label>
         <input id="AdmissionScore" class="col-2" value="@Model.AdmissionScore"/>
         <div id = "AdmissionScore_err"></div>
    </div>
    <div>
        <label for="GiaMark" class=>Балл ГИА</label>
        <input id="GiaMark" class="col-2" value="@Model.GiaMark"/>
        <div id = "GiaMark_err"></div>
    </div>
    <div>
        <label for="GiaDemoExamMark">Балл ГИА (демэкзамен)</label>
        <input id="GiaDemoExamMark" class="col-2" value="@Model.GiaDemoExamMark"/>
        <div id = "GiaDemoExamMark_err"></div>
    </div>
    <div>
        <label for="ActualAddress">Адрес</label>
        <input id="ActualAddress" class="col-8" value="@Model.GiaDemoExamMark"/>
        <button id = "about" class = "col-1">Разобрать</button>
        <button id = "save_address" class = "col-1">Сохранить</button>
        <div id = "ActualAddress_err"></div>
        <div id = "AboutAddress"></div>
    </div>
    <label for = "russian_citizenship_panel">Российское гражданство</label>

    @{
        RussianCitizenship? citizenship = RussianCitizenship.GetById(Model.RussianCitizenshipId);
    }
    @if(citizenship != null){
        <div>
            <h2>Гражданство (РФ)</h2>
            <input type="hidden" value="@citizenship.Id"/>
            <div class="d-flex flex-row">
                <h5 class="col-3">Фамилия</h5>
                <p class="col-3">@citizenship.Surname</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Имя</h5>
                <p class="col-3">@citizenship.Name</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Отчество</h5>
                <p class="col-3">@citizenship.Patronymic</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Номер паспорта</h5>
                <p class="col-3">@citizenship.PassportNumber</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Серия паспорта</h5>
                <p class="col-3">@citizenship.PassportSeries</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Прописка</h5>
                @{
                   string fullAddress = citizenship.LegalAddress == null ? "Не указана" : citizenship.LegalAddress.FullAddressString;
                }
                <p class="col-3">@fullAddress</p>
            </div>
        </div>
    }
    else{
         <div id="russian_citizenship_panel">
        <div>
            <h2>Гражданство (РФ)</h2>
            <input type="hidden"/>
            <div class="d-flex flex-row">
                <h5 class="col-3">Фамилия</h5>
                <input class="col-3"/>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Имя</h5>
                <input class="col-3"/>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Отчество</h5>
                <input class="col-3"/>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Номер паспорта</h5>
                <input class="col-3"/>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Серия паспорта</h5>
                <input class="col-3"/>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-3">Прописка</h5>
                <input class="col-3"/>
            </div>
        </div>

    </div>
    }
    <button id="save">
        Сохранить
    </button>

    <input type="hidden" id="student_id"value="@Model.Id"/>
</div>

<script src="~/js/students.js"></script>


