@using StudentTracking.Models.Domain;
@using StudentTracking.Models.Domain.Misc;
@using StudentTracking.Models.Domain.Address;
@using Utilities;
@model StudentTracking.Controllers.DTO.Out.StudentFullDTO;
@{
    ViewData["Title"] = "Студент";
}
<div class="container">
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Номер зачетки</h5>
        <div class="col-1 mx-0"></div>
        <h5 class="col-5 mx-0">Снилс</h5>
    </div>
    <div class="d-flex flex-row">
        <input id="GradeBookNumber" class="col-5" value="@Model.GradeBookNumber" />
        <div class="col-1"></div>
        <input id="Snils" class="col-5" value="@Model.Snils" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small class="accent_color" id="GradeBookNumber_err">

            </small>
        </div>
        <div class="col-6">
            <small class="accent_color" id="Snils_err">

            </small>
        </div>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Инн</h5>
        <div class="col-1 mx-0"></div>
        <h5 class="col-5 mx-0">Дата Рождения</h5>
    </div>
    <div class="d-flex flex-row">
        <input id="Inn" class="col-5" value="@Model.Inn" />
        <div class="col-1"></div>
        <input id="DateOfBirth" class="col-5" value="@Model.DateOfBirth" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small class="accent_color" id="Inn_err">

            </small>
        </div>
        <div class="col-6">
            <small class="accent_color" id="DateOfBirth_err">

            </small>
        </div>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Пол</h5>
        <div class="col-1 mx-0"></div>
        <h5 class="col-5 mx-0">Вступительный (конкурсный) балл</h5>
    </div>
    <div class="d-flex flex-row">
        <select id="Gender" class="col-3">
            @foreach (var g in Genders.Names)
            {
                var code = (int)g.Key;
                if (code == Model.Gender){
                    <option value="@code" selected >@g.Value</option>    
                }
                else {
                    <option value="@code">@g.Value</option>
                }
                
            }
        </select>
        <div class="col-3"></div>
        <input id="AdmissionScore" class="col-5" value="@Model.AdmissionScore" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small></small>
        </div>
        <div class="col-6">
            <small class="accent_color" id="AdmissionScore_err">

            </small>
        </div>
    </div>


    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Балл ГИА</h5>
        <div class="col-1 mx-0"></div>
        <h5 class="col-5 mx-0">Балл ГИА (демэкзамен)</h5>
    </div>
    <div class="d-flex flex-row">
        <input id="GiaMark" class="col-5" value="@Model.GiaMark" />
        <div class="col-1"></div>
        <input id="GiaDemoExamMark" class="col-5" value="@Model.GiaDemoExamMark" />
    </div>
    <div class="d-flex flex-row">
        <div class="col-6">
            <small class="accent_color" id="GiaMark_err">

            </small>
        </div>
        <div class="col-6">
            <small class="accent_color" id="GiaDemoExamMark_err">

            </small>
        </div>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-12">Договор о целевом обучении</h5>
    </div>
    <div class="d-flex flex-row mb-3">
        <select id="TargetAgreementType" class="col-5">
            @foreach (var g in TargetEduAgreement.ListOfTypes)
            {   
                var code = (int)g.AgreementType; 
                if (code == Model.TargetAgreementType){
                    <option value="@code" selected>@g.RussianName</option>
                }
                else{
                    <option value="@code">@g.RussianName</option>
                }
                
                
            }
        </select>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-12">Договор об обучении на платной основе</h5>
    </div>
    <div class="d-flex flex-row mb-3">
        <select id="PaidAgreementType" class="col-6">
            @foreach (var g in PaidEduAgreement.ListOfTypes)
            {
                var code = (int)g.AgreementType; 
                if (code == Model.PaidAgreementType){
                    <option value="@code" selected>@g.RussianName</option>
                }
                else{
                    <option value="@code">@g.RussianName</option>
                }
            }
        </select>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-12">Адрес</h5>
    </div>
    <div class="d-flex flex-row">
        @{
            string RealAddress = "";
            if (Model.ActualAddressId != null)
            {
                RealAddress = (await AddressModel.GetAddressById((int)Model.ActualAddressId))?.ToString() ?? "";
            }
        }
        <input id="ActualAddress" class="col-10" value="@RealAddress" />
        <button id="about" class="col-1">Разобрать</button>
    </div>
    <div class="d-flex flex-row">
        <div class="col-8">
            <small class="accent_color" id="AboutAddress">

            </small>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="col-8">
            <small class="accent_color" id="ActualAddress_err">

            </small>
        </div>
    </div>



    @{
        RussianCitizenship? citizenship = Model.RussianCitizenshipId == null ? null : await
        RussianCitizenship.GetById((int)Model.RussianCitizenshipId, null);
        AddressModel? address = await AddressModel.GetAddressById(citizenship?.LegalAddressId ?? Utils.INVALID_ID);
        string LegalAddress = address?.ToString() ?? "";
    }
    <div class="mt-4">
        <h2>Гражданство (РФ)</h2>

        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0">Фамилия</h5>
            <div class="col-1"></div>
            <h5 class="col-3 mx-0">Имя</h5>
            <div class="col-1"></div>
            <h5 class="col-3 mx-0">Отчество</h5>
        </div>
        <div class="d-flex flex-row">
            @if (citizenship == null)
            {
                <input id="Surname" class="col-3" />
            }
            else
            {
                <input id="Surname" class="col-3" value="@citizenship.Surname" />
            }
            <div class="col-1"></div>
            @if (citizenship == null)
            {
                <input id="Name" class="col-3" />
            }
            else
            {
                <input id="Name" class="col-3" value="@citizenship.Name" />
            }
            <div class="col-1"></div>
            @if (citizenship == null)
            {
                <input id="Patronymic" class="col-3" />
            }
            else
            {
                <input id="Patronymic" class="col-3" value="@citizenship.Patronymic" />
            }
        </div>
        <div class="d-flex flex-row">
            <div class="col-3">
                <small class="accent_color" id="Surname_err">

                </small>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <small class="accent_color" id="Name_err">

                </small>
            </div>
            <div class="col-1"></div>
             <div class="col-3">
                <small class="accent_color" id="Patronymic_err">

                </small>
            </div>
        </div>

        <div class="d-flex flex-row">
            <h5 class="col-5 mx-0">Номер паспорта</h5>
            <div class="col-1"></div>
            <h5 class="col-5 mx-0">Серия паспорта</h5>
        </div>
        <div class="d-flex flex-row">
            @if (citizenship == null)
            {
                <input id="PassportNumber" class="col-5" />
            }
            else
            {
                <input id="PassportNumber" class="col-5" value="@citizenship.PassportNumber" />
            }
            <div class="col-1"></div>
            @if (citizenship == null)
            {
                <input id="PassportSeries" class="col-5" />
            }
            else
            {
                <input id="PassportSeries" class="col-5" value="@citizenship.PassportSeries" />
            }
        </div>
        <div class="d-flex flex-row">
            <div class="col-5">
                <small class="accent_color" id="PassportNumber_err">

                </small>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <small class="accent_color" id="PassportSeries_err">

                </small>
            </div>
        </div>

        <div class="d-flex flex-row">
            <h5 class="col-12 mx-0">Прописка</h5>
        </div>
        <div class="d-flex flex-row">
            @if (citizenship == null)
            {
                <input id="LegalAddress" class="col-10" />
            }
            else
            {
                <input id="LegalAddress" class="col-10" value="@LegalAddress" />
            }
            <button class="col-1" id="about_legal_address">
                Разобрать
            </button>
        </div>
        <div class="d-flex flex-row">
            <div class="col-11">
                <small class="accent_color" id="LegalAddress_err">

                </small>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="col-11">
                <small class="accent_color" id="legal_address_info">

                </small>
            </div>
        </div>
    </div>
    @{
        var tags = await StudentEducationalLevelRecord.GetByOwner(Model.Id);
    }
    <div id="education_levels">
        @foreach(var t in tags){
        <div class="d-flex flex-row">
            <div class="col-4"> 
                @t.RussianName
            </div>
        </div>
        }
    </div>
    <button class="btn btn-primary" id="add_education_level">
        Добавить уровень образования
    </button>


    <div class="d-flex flex-row">
        <button id="save" class="mt-4 btn btn-primary">
        Сохранить
        </button>
    </div>
</div>


@{
    string corrRusId = citizenship?.Id.ToString() ?? "";
    string corrRusAddress = citizenship?.LegalAddressId.ToString() ?? "";
}
<div id = "id_section">
    @if (!Model.IsEmpty){
        <input type="hidden" id="StudentId" value="@Model.Id" />
        <input type="hidden" id="AddressId" value="@Model.ActualAddressId" />
        <input type="hidden" id="RussianLegalAddressId" value="@corrRusAddress" />
        <input type="hidden" id="RussianCitizenshipId" value="@corrRusId" />
    }
</div>

</div>

<script src="~/js/students.js"></script>
