@using StudentTracking.Models.Domain;
@using StudentTracking.Models.Domain.Misc;
@using StudentTracking.Models.Domain.Address;
@model StudentTracking.Controllers.DTO.Out.StudentFullDTO;
@{
    ViewData["Title"] = "Просмотр";
}
<div class="container">
    <div class="d-flex flex-row">
        <h5 class="col-4">Номер зачетки</h5>
        <p class="col-4">@Model.GradeBookNumber</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Дата рождения</h5>
        <p class="col-4">@Model.DateOfBirth</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Снилс</h5>
        <p class="col-4">@Model.Snils</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Инн</h5>
        <p class="col-4">@Model.Inn</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Пол</h5>
        <p class="col-4">@Model.GenderName</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Договор о целевом обучении</h5>
        @{
            string targetAgrName = TargetEduAgreement.Names
                [(TargetEduAgreement.Types)Model.TargetAgreementType];
        }
        <p class="col-4">@targetAgrName</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Договор об обучении на платной основе</h5>
        @{
            string paidAgrName = PaidEduAgreement.Names
                [(PaidEduAgreement.Types)Model.TargetAgreementType];
        }
        <p class="col-4">@paidAgrName</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Вступительный балл</h5>
        <p class="col-4">@Model.AdmissionScore</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Балл ГИА</h5>
        @{
            string giaMark = Model.GiaMark is null ? "Не указан" : Model.GiaMark.ToString();
            string giaMarkDem = Model.GiaDemoExamMark is null ? "Не указан" : Model.GiaDemoExamMark.ToString(); 
        }
        <p class="col-4">@giaMark</p>
    </div>
     <div class="d-flex flex-row">
        <h5 class="col-4">Балл ГИА (демэкзамен)</h5>
        <p class="col-4">@giaMarkDem</p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-4">Фактический адрес</h5>
        @{
            
            string factAddress = "Не указан";
            if (Model.ActualAddressId!= null){
                 var address = await AddressModel.GetAddressById((int)Model.ActualAddressId);
                 if (address != null){
                    factAddress = address.FullAddressString; 
                 }
            }
        }
        <p class="col-8">@factAddress</p>
    </div>
    @{
        RussianCitizenship? citizenship = null;
        if (Model.RussianCitizenshipId != null){
            citizenship = await RussianCitizenship.GetById((int)Model.RussianCitizenshipId, null);
        }
    }
    @if(citizenship != null){
        <div class="mt-3">
            <h2 class="mb-4">Гражданство (РФ)</h2>
            <input type="hidden" value="@citizenship.Id"/>
            <div class="d-flex flex-row">
                <h5 class="col-4">Фамилия</h5>
                <p class="col-4">@citizenship.Surname</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-4">Имя</h5>
                <p class="col-4">@citizenship.Name</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-4">Отчество</h5>
                <p class="col-4">@citizenship.Patronymic</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-4">Номер паспорта</h5>
                <p class="col-4">@citizenship.PassportNumber</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-4">Серия паспорта</h5>
                <p class="col-4">@citizenship.PassportSeries</p>
            </div>
            <div class="d-flex flex-row">
                <h5 class="col-4">Прописка</h5>
                @{
                   string fullAddress = (await AddressModel.GetAddressById(citizenship.LegalAddressId))?.FullAddressString ?? "";
                }
                <p class="col-8">@fullAddress</p>
            </div>
        </div>
    }

    <input type="hidden" id="student_id"value="@Model.Id"/>
</div>


