@using Contingent.Utilities;
@using Contingent.Models.Domain.Specialties;
@model Contingent.Controllers.DTO.Out.SpecialityOutDTO;

@{
    ViewData["Title"] = "Специальность";
}

<div class="page-layout-container d-flex flex-column">
    <div class="d-flex flex-row">
        <h3 class="group-title">
            Харатеристики специальности
        </h3>
        <div class="flex-grow-1">

        </div>
        <button class="standard-button-prim" id="save">
            Сохранить
        </button>
    </div>

    <div class="item-input-group d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <h5 class="field-title">Код ФГОС</h5>
                <input id="FgosCode" class="standard-input" value="@Model.FgosCode" />
                <small class="error-box" id="FgosCode_err"></small>
            </div>
            <div class="d-flex flex-grow-1 flex-column">
                <h5 class="field-title">Название ФГОС</h5>
                <input id="FgosName" class="standard-input" value="@Model.FgosName" />
                <small class="error-box" id="FgosName_err"></small>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Квалификация</h5>
                <input id="Qualification" class="standard-input" value="@Model.Qualification" />
                <small class="error-box" id="Qualification_err"></small>
            </div>
            <div class="d-flex flex-column">
                <h5 class="field-title">Количество курсов</h5>
                <select id="CourseCount" class="standard-select">
                    @foreach (var i in Enumerable.Range(1, 6))
                    {
                        if (i == Model.CourseCount)
                        {
                            <option value="@i" selected> @i.ToString() </option>
                        }
                        else
                        {
                            <option value="@i">@i.ToString() </option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Префикс имени группы (ФГОС)</h5>
                <input id="FgosPrefix" class="standard-input" value="@Model.FgosPrefix" />
                <small class="error-box" id="FgosPrefix_err"> </small>
            </div>
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Постфикс имени группы (квалификация)</h5>
                <input id="QualificationPostfix" class="standard-input" value="@Model.QualificationPostfix" />
                <small class="error-box" id="QualificationPostfix_err"></small>
            </div>
        </div>
        <div class="d-flex flex-row mb-1">
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Необходимый уровень образования</h5>
                <select id="EducationalLevelIn" class="standard-select">
                    @foreach (var i in LevelOfEducation.ListOfLevels)
                    {
                        var level = (int)i.LevelCode;
                        if (level == Model.EducationalLevelIn)
                        {
                            <option value="@level" selected> @i.RussianName </option>
                        }
                        else
                        {
                            <option value="@level">@i.RussianName </option>
                        }
                    }
                </select>
                <small class="error-box" id="EducationalLevelIn_err"></small>
            </div>
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Уровень образования после освоения программы</h5>
                <select id="EducationalLevelOut" class="standard-select">
                    @foreach (var i in LevelOfEducation.ListOfLevels)
                    {
                        var level = (int)i.LevelCode;
                        if (level == Model.EducationalLevelOut)
                        {
                            <option value="@level" selected> @i.RussianName </option>
                        }
                        else
                        {
                            <option value="@level">@i.RussianName </option>
                        }
                    }
                </select>
                <small class="error-box" id="EducationalLevelOut_err"></small>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-grow-1">
                <h5 class="field-title">Уровень образовательной программы</h5>
                <select id="TeachingLevel" class="standard-select">
                    @foreach (var i in TeachingDepth.Levels)
                    {
                        int code = (int)i.Level;
                        if (code == Model.TeachingDepth)
                        {
                            <option value="@code" selected> @i.RussianName </option>
                        }
                        else
                        {
                            <option value="@code">@i.RussianName </option>
                        }
                    }
                </select>
                <small class="error-box" id="TeachingLevel_err"></small>
            </div>
            <div class="d-flex flex-column flex-fill">
                <h5 class="field-title">Уровень программы подготовки</h5>
                <select id="ProgramType" class="standard-select">
                    @foreach (var i in TrainingProgram.Types)
                    {
                        int code = (int)i.Type;
                        if (code == Model.ProgramType)
                        {
                            <option value="@code" selected> @i.Name </option>
                        }
                        else
                        {
                            <option value="@code">@i.Name </option>
                        }
                    }
                </select>
                <small class="error-box" id="ProgramType_err"></small>
            </div>
        </div>
    </div>
    <div id="id_section" spec_id="@Model.Id" />
</div>

<script src="~/js/modify/specialties.js" type="module"></script>
