@using Contingent.Controllers.DTO.Out;
@model GroupOutDTO;

<div class="page-layout-container">
    <div id="info" group_id="@Model.Id"></div>
    @{
        string fullName = "Группа " + Model.GroupName;
    }
    <h3 class="group-title">
        @fullName
    </h3>
    <div class="item-input-group">
        <div class="data-row">
            <h5 class="field-h-title">
                Специальность
            </h5>
            <p class="field-content">
                @Model.Speciality.FullName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Курс
            </h5>
            <p class="field-content">
                @Model.CourseOn
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Формат обучения
            </h5>
            <p class="field-content">
                @Model.EduFormatName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Тип финансирования
            </h5>
            <p class="field-content">
                @Model.SponsorshipTypeName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Год регистрации (поток)
            </h5>
            <p class="field-content">
                @Model.CreationYear
            </p>
        </div>
    </div>

    <div class="d-flex flex-row mt-3">
        <h3 class="group-title">
            Студенты в группе:
        </h3>
        <div class="flex-grow-1">

        </div>
        <div class="d-flex justify-content-end align-content-center">
            <h5 class="field-content me-2 mt-1">
                На дату:
            </h5>
        </div>
        <input type="text" placeholder="ДД.ММ.ГГГГ" class="standard-input" id="date_input" />
        <button class="standard-button-sec" id="search_students_button">
            Запросить
        </button>
    </div>
    <div class="table-responsible flex-fill">
        <table class="table">
            <thead>
                <th>Номер</th>
                <th>ФИО</th>
                <th>Приказ</th>
                <th>Дата</th>
            </thead>
            <tbody id="group_history">

            </tbody>
        </table>
    </div>
</div>

<script src="~/js/observe/groups.js" type="module"></script>
