@using Contingent.Models.Domain;
@using Contingent.Models.Domain.Orders.OrderData;
@using Utilities;
@model Contingent.Controllers.DTO.Out.OrderSearchDTO;

@{
    ViewData["Title"] = "Просмотр приказа";
    IEnumerable<OrderTypeInfo> types = OrderTypeInfo.GetAllTypes();
}

<div class="page-layout-container d-flex flex-column">
    <div id="order_info" order_id="@Model.OrderId"></div>
    @{
        string orderOrgId = "№" + Model.OrderOrgId + " от " + Model.OrderSpecifiedDate;
    }
    <div class="d-flex flex-row">
        <h3 class="group-title">
            Приказ @orderOrgId
        </h3>
        <div class="flex-fill">

        </div>
        <div>
            @if (Model.IsClosed)
            {
                <h4 class="text-danger">Закрыт</h4>
            }
            else
            {
                <h4 class="text-success">Открыт</h4>
            }
        </div>
    </div>

    <div class="item-input-group">
        <div class="data-row">
            <h5 class="field-h-title">
                Вступает в силу с:
            </h5>
            <p class="field-content">
                @Model.OrderEffectiveDate
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Тип приказа:
            </h5>
            <p class="field-content">
                @Model.OrderRussianTypeName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Полное название приказа:
            </h5>
            <p class="field-content">
                @Model.OrderFullName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Описание приказа:
            </h5>
            <p class="field-content">
                @Model.OrderDescription
            </p>
        </div>
    </div>

    <div class="d-flex flex-row mt-2">
        <h3 class="group-title">
            Содержание приказа (движения)
        </h3>
        <div class="flex-fill">

        </div>
        <button class="standard-button-prim" id="delete_history">
            УДАЛИТЬ ИСТОРИЮ ПРИКАЗА
        </button>
    </div>
    <div class="d-flex">
        <table class="table flex-fill">
            <thead>
                <th scope="col" style="width: 20%;">Номер в поименной книге</th>
                <th scope="col" class="width: 60%">ФИО</th>
                <th scope="col" style="width: 10%">Группа откуда</th>
                <th scope="col" style="width: 10%">Группа куда</th>
            </thead>
            <tbody id="students_in_order">

            </tbody>
        </table>
    </div>
</div>

<script src="~/js/observe/order.js" type="module"></script>
