@using Contingent.Models.Domain;
@using Contingent.Models.Domain.Orders.OrderData;
@using Utilities;
@model Contingent.Controllers.DTO.Out.OrderSearchDTO;

@{
    ViewData["Title"] = "Просмотр приказа";
    IEnumerable<OrderTypeInfo> types = OrderTypeInfo.GetAllTypes();
}

<div class="container">
    <div id="order_info" order_id="@Model.OrderId">
        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0"> Идентификатор приказа: </h5>
            <p class="col-2"> @Model.OrderOrgId</p>
            <h5 class="col-3 mx-0"> Тип приказа: </h5>
            <p class="col-3"> @Model.OrderRussianTypeName</p>
        </div>

        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0"> Название приказа: </h5>
            <p class="col-8"> @Model.OrderFullName</p>
        </div>
        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0"> Описание приказа: </h5>
        </div>
        <div class="d-flex flex-row">
            <p class="col-11 mx-0">@Model.OrderDescription</p>
        </div>
        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0"> Вступает в силу: </h5>
            <p class="col-2"> @Model.OrderEffectiveDate.</p>
            <h5 class="col-3 mx-0"> Дата приказа: </h5>
            <p class="col-2"> @Model.OrderSpecifiedDate.</p>
        </div>

        <div class="d-flex flex-row">
            <h5 class="col-3 mx-0"> Состояние приказа: </h5>
            @if (Model.IsClosed)
            {
                <p class="col-2 text-danger">Закрыт</p>
            }
            else
            {
                <p class="col-2 text-success">Открыт</p>
            }
        </div>
        <div class="d-flex flex-row">
            <div class="flex-fill">
                <p class="text-left">
                    История приказа
                </p>
            </div>
            <button id="delete_history" class="btn btn-danger ml-3">
                УДАЛИТЬ ИСТОРИЮ
            </button>
        </div>
        <div class="col-11 row">
            <table class="table">
                <thead>
                    <th scope="col" class="col-1">Номер в поименной книге</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Группа откуда</th>
                    <th scope="col">Группа куда</th>
                </thead>
                <tbody id="students_in_order">

                </tbody>
            </table>

        </div>


    </div>

    <script src="~/js/site.js"></script>
    <script src="~/js/observe/orderView.js"></script>
