@model Contingent.Controllers.DTO.Out.SpecialityOutDTO;

@{
    ViewData["Title"] = "Специальность";
}

<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Код ФГОС</h5>
        <div class="col-1"></div>
        <p class="col-5">@Model.FgosCode</p>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Название ФГОС</h5>
        <div class="col-1"></div>
        <p class="col-5">@Model.FgosName</p>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Квалификация</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">@Model.Qualification</p>
    </div>

    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Количество курсов</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.CourseCount.ToString()
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Префикс имени группы (ФГОС)</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.FgosPrefix
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Постфикс имени группы (квалификация)</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.QualificationPostfix
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Необходимый уровень образования</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.EducationalLevelInName
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Уровень образования после освоения программы</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.EducationalLevelOutName
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Уровень образовательной программы</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.TeachingDepthName
        </p>
    </div>
    <div class="d-flex flex-row">
        <h5 class="col-5 mx-0">Уровень программы подготовки</h5>
        <div class="col-1 mx-0"></div>
        <p class="col-5">
            @Model.ProgramTypeName
        </p>
    </div>
    <input type="hidden" id="Id" value="@Model.Id" />
</div>
