@model Contingent.Controllers.DTO.Out.SpecialityOutDTO;

@{
    ViewData["Title"] = "Специальность";
}
<div class="page-layout-container">
    <input type="hidden" id="Id" value="@Model.Id" />
    <h3 class="group-title">
        Сведения о специальности
    </h3>
    <div class="item-input-group d-flex flex-column">
        <div class="data-row">
            <h5 class="field-h-title">
                Код ФГОС
            </h5>
            <p class="field-content">
                @Model.FgosCode
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Название ФГОС
            </h5>
            <p class="field-content">
                @Model.FgosName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Квалификация
            </h5>
            <p class="field-content">
                @Model.Qualification
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Количество курсов
            </h5>
            <p class="field-content">
                @Model.CourseCount.ToString()
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Префикс имени группы (ФГОС)
            </h5>
            <p class="field-content">
                @Model.FgosPrefix
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Постфикс имени группы (квалификация)
            </h5>
            <p class="field-content">
                @Model.QualificationPostfix
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Необходимый уровень образования
            </h5>
            <p class="field-content">
                @Model.EducationalLevelInName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Уровень образования после освоения программы
            </h5>
            <p class="field-content">
                @Model.EducationalLevelOutName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Уровень образовательной программы
            </h5>
            <p class="field-content">
                @Model.TeachingDepthName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Уровень программы подготовки
            </h5>
            <p class="field-content">
                @Model.ProgramTypeName
            </p>
        </div>
    </div>
</div>

