@using Contingent.Models.Domain;
@using Contingent.Models.Domain.Students;
@using Contingent.Models.Domain.Address;
@using Contingent.Controllers.DTO.Out;
@model Contingent.Controllers.DTO.Out.StudentFullDTO;
@{
    ViewData["Title"] = "Просмотр";
}
<div class="d-flex flex-column page-layout-container">
    <h3 class="group-title">
        Гражданство (РФ)
    </h3>
    @{
        RussianCitizenshipDTO citizenship = Model.Citizenship;
    }

    @if (citizenship != null)
    {
        <div class="item-input-group">
            <div class="data-row">
                @{
                    string fullName =
                    citizenship.Surname + " " + citizenship.Name + " " + citizenship.Patronymic;
                }
                <h5 class="field-h-title">
                    ФИО Студента
                </h5>
                <p class="field-content">
                    @fullName
                </p>
            </div>
            <div class="data-row">
                <h5 class="field-h-title">
                    Прописка
                </h5>
                <p class="field-content">
                    @Model.Citizenship.LegalAddress.AddressName
                </p>
            </div>
        </div>
    }

    <h3 class=".group-title">
        Основные сведения
    </h3>
    <div class="item-input-group">
        <div class="data-row">
            <h5 class="field-h-title">
                Номер зачетки
            </h5>
            <p class="field-content">
                @Model.GradeBookNumber
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Дата рождения
            </h5>
            <p class="field-content">
                @Model.DateOfBirth
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Снилс
            </h5>
            <p class="field-content">
                @Model.Snils
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Пол
            </h5>
            <p class="field-content">
                @Model.GenderName
            </p>
        </div>
        <div class="data-row">
            @{
                string targetAgrName = TargetEduAgreement.GetByTypeCode(Model.TargetAgreementType).RussianName;
            }
            <h5 class="field-h-title">
                Договор о целевом обучении
            </h5>
            <p class="field-content">
                @targetAgrName
            </p>
        </div>
        <div class="data-row">
            @{
                string paidAgrName = PaidEduAgreement.GetByTypeCode(Model.PaidAgreementType).RussianName;
            }
            <h5 class="field-h-title">
                Договор об обучении на платной основе
            </h5>
            <p class="field-content">
                @paidAgrName
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Вступительный балл
            </h5>
            <p class="field-content">
                @Model.AdmissionScore
            </p>
        </div>
        @{
            string giaMark = Model.GiaMark?.ToString() ?? "Не указан";
            string giaMarkDem = Model.GiaDemoExamMark?.ToString() ?? "Не указан";
        }
        <div class="data-row">
            <h5 class="field-h-title">
                Балл ГИА
            </h5>
            <p class="field-content">
                @giaMark
            </p>
        </div>
        <div class="data-row">
            <h5 class="field-h-title">
                Балл ГИА (демэкзамен)
            </h5>
            <p class="field-content">
                @giaMarkDem
            </p>
        </div>
        <div class="data-row">
            @{
                string factAddress = Model.ActualAddress.AddressName;
            }
            <h5 class="field-h-title">
                Фактический адрес
            </h5>
            <p class="field-content">
                @factAddress
            </p>
        </div>
    </div>

    <h3 class="group-title">
        Сведения об образовании студента
    </h3>
    <div class="item-input-group">
        <div class="d-flex flex-column">
            @foreach (var edu in Model.EducationalLevels)
            {
                <div class="field-content">
                    <p>@edu.TypeName</p>
                </div>
            }
        </div>
    </div>

    <h3 class="group-title mt-1">
        История студента в приказах
    </h3>
    <div class="flex-fill">
        <table class="table">
            <thead>
                <th>Тип приказа</th>
                <th>Номер приказа</th>
                <th>Дата</th>
                <th>Группа откуда</th>
                <th>Группа куда</th>
            </thead>
            <tbody id="history">

            </tbody>
        </table>

    </div>
    <div id="about_student" student_id="@Model.Id" />
</div>

<script src="~/js/observe/student.js" type="module"></script>
