@using StudentTracking.Controllers.DTO.Out;
@using StudentTracking.Models.Domain.Orders.OrderData;

@model IReadOnlyCollection<OrderSearchDTO>;

<div class="container">
    <div class="row mb-2">
        <div class="d-flex flex-column">
            <h5>
                Название приказа
            </h5>
            <div class="d-flex">
                <input type="text" id="order_name" class="flex-fill">
                <button class="btn btn-primary ml-1" id="find_orders">
                    Поиск приказов
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="d-flex flex-column">
            <h5>
                Тип приказа
            </h5>
            @{
                var sorted = OrderTypeInfo.GetAllTypes().ToList();
                sorted.Sort(
                (x, y) => string.Compare(x.OrderTypeName, y.OrderTypeName, StringComparison.Ordinal)
                );
            }
            <select id="order_type">
                <option value="-1" selected>Любой</option>
                @foreach (var t in sorted)
                {
                    <option value="@((int)t.Type)">@t.OrderTypeName</option>
                }
            </select>
        </div>
    </div>
    <div class="d-flex flex-row mb-2 ">
        <div class="d-flex flex-column">
            <h5>
                Год приказа
            </h5>
            <select id="order_date">
                <option value="-1" selected>Любой</option>
                @for (int i = DateTime.Now.Year; i >= 2010; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="ms-4">
            <h5>
                Количество записей
            </h5>
            <input type="radio" id="get_30" name="record_count" value="30" />
            <label for="get_30">30</label>

            <input type="radio" id="get_100" name="record_count" value="100" />
            <label for="get_100">100</label>

            <input type="radio" id="get_300" name="record_count" value="300" />
            <label for="get_300">300</label>
        </div>
    </div>


    <div class="row mb-2">
        <table class="table">
            <thead>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Дата приказа</th>
                <th scope="col">Вступление в силу</th>
                <th scope="col">Действия</th>
            </thead>
            <tbody id="search_results">
                @foreach (var card in Model)
                {
                    <tr>
                        <th scope="row">@card.OrderOrgId</th>
                        <td>@card.OrderFullName</td>
                        <td>@card.OrderSpecifiedDate</td>
                        <td>@card.OrderEffectiveDate</td>
                        <td>
                            <div class="row">
                                <a href="@card.OrderViewLink">Детали</a>
                            </div>
                            @if (card.OrderModifyLink != null && !card.IsClosed)
                            {
                                <div class="row">
                                    <a href="@card.OrderModifyLink">Изменить</a>
                                </div>
                            }
                            @if (card.OrderFlowLink != null && !card.IsClosed)
                            {
                                <div class="row">
                                    <a href="@card.OrderFlowLink">Движение</a>
                                </div>
                            }
                            @if (card.OrderCloseLink != null && !card.IsClosed)
                            {
                                <div class="row">
                                    <a href="@card.OrderCloseLink">Закрыть</a>
                                </div>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/search/orders.js"></script>